<template>
    <div>
        <span>
            <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Post List Table</h3>

                <div class="card-tools">
                  <router-link to="/post/new" href="" class="btn btn-primary">Add Post <i class="fas fa-plus red"></i></router-link>
                </div>
              </div>
                <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>SL</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Category</th>
                    <th>User</th>
                    <th>Action</th>
                  </tr>

                  <tr v-for="(post,index) in postss" :key="post.id">
                    <td>{{index+1}}</td>
                    <td>{{post.title | truncate(15,'...')}}</td>
                    <td>{{post.description | truncate(30,'...')}}</td>
                    <td><img :src="updateImage(post.photo)" width="80" height="80" alt=""></td>
                    <td v-if="post.category">{{post.category.cat_name}}</td>
                    <td v-if="post.user">{{post.user.name}}</td> 
                    <td>
                       <router-link :to="`post/${post.id}`" ><i class="far fa-edit green"></i></router-link>
                        <a href="" @click.prevent="deletePost(post.id)"><i class="fas fa-trash-alt	red"></i></a>
                    </td>
                  </tr>
                 
                </table>
              </div>
                <!-- /.card-body -->
            </div>
              <!-- /.card -->
          </div>
        </div><!-- /.row -->
        </span>
    </div>
</template>


<script>
export default {
  name: "post-list",

  mounted() {
    this.$store.dispatch("posts");
    this.$store.dispatch("categories");
  },
  computed: {
    postss() {
      return this.$store.getters.posts;
    }
  },
  methods: {
    deletePost(id) {
      axios.get("post/delete/" + id).then(response => {
        this.$store.dispatch("posts");
        toast({
          type: "success",
          title: "Post Deleted successfully"
        });
      });
    },
    updateImage(img) {
      let photo =
        img.length > 1 ? "uploadimage/" + img : "uploadimage/" + "default.jpg";
      return photo;
    }
  }
};
</script>

<style>
</style>
