<template>
    <div>
       <span>
          <div class="row d-flex justify-content-center">
              <div class="col-md-12">
                   <div class="card card-primary">
               <div class="card-header">
                    <div class="card-title">Add New Post</div>
               </div>
               <form role="form" @submit.prevent="addNewPost()"  enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="post_title">Post Title</label>
                    <input type="text" v-model="form.title" name="title" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }" id="post_title" placeholder="Enter Post Title">
                       <has-error :form="form" field="title"></has-error>
                  </div>

                  <div class="form-group">
                    <label for="post_description">Post Description</label>
                      <textarea name="description" :class="{ 'is-invalid': form.errors.has('description') }" v-model="form.description" class="textarea" placeholder="Place some text here"
                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            <has-error :form="form" field="description"></has-error>
                  </div>
                  <div class="form-group">
                    <label>Select Category</label>
                    <select class="form-control" :class="{ 'is-invalid': form.errors.has('cat_id') }" name="cat_id" v-model="form.cat_id">
                      <option disabled value="">Please select one</option>
                      <option v-for="category in allcategories" :value='category.id'> {{category.cat_name}}</option>
                    </select>
                       <has-error :form="form" field="cat_id"></has-error>
                  </div>
                  <div class="form-group" v-if="!image" >
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" @change="changePhoto($event)" ref="file" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }"  class="custom-file-input" id="exampleInputFile" >
                          <has-error :form="form" field="photo"></has-error>
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                    </div>
                  </div>
                  <span v-if="image">
                   <div class="text-left">
                      <img :src="image" alt="image" width="80" height="60">
                   </div>
                    <div class="text-right">
                      <h4 class="btn btn-warning" @click="removeImage">Remove Image</h4>
                    </div>
                  </span>
                </div>

       
                   <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <router-link to="/post"  class="btn btn-warning">Cancel</router-link>
                </div>
              </form>
           </div>
              </div>
          </div>
       </span>
    </div>
</template>

<script>
export default {
  name: "new-post",

  data() {
    return {
      image: "",
      form: new Form({
        title: "",
        description: "",
        photo: null,
        cat_id: ""
      })
    };
  },
  methods: {
    addNewPost() {
      this.form.post("new").then(response => {
        this.$router.push("/post");
        toast({
          type: "success",
          title: "Post Added successfully"
        });
      });
    },
    changePhoto(e) {
      let photo = e.target.files[0];

      if (photo.size > 1048576) {
        swal({
          type: "error",
          title: "Oops...",
          text: "Image size must be less than 1 MB!"
        });
      } else {
        var reader = new FileReader();
        reader.onload = e => {
          this.form.photo = reader.result;
          this.image = reader.result;
        };
        reader.readAsDataURL(photo);
      }
    },
    removeImage() {
      this.image = "";
    }
  },

  computed: {
    allcategories() {
      return this.$store.getters.categories;
    }
  }
};
</script>

<style>
</style>
