<template>
   <span id="main">
       <div class="content">
           <router-view></router-view>
       </div>    
   </span>
</template>
<script>
export default {
  name: "admin-master"
};
</script>

<style>
</style>
