<template>
    <div>
        <span>
            <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Category List Table</h3>

                <div class="card-tools">
                  <router-link to="/category/new" href="" class="btn btn-primary">Add Category <i class="fas fa-plus red"></i></router-link>
                </div>
              </div>
                <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tr>
                    <th>SL</th>
                    <th>Category name</th>
                    <th>Created Date</th>
                    <th>Action</th>
                  </tr>

                  <tr v-for="(category,index) in categories" :key="category.id">
                    <td>{{index+1}}</td>
                    <td>{{category.cat_name}}</td>
                    <td>{{category.created_at | timeformat}}</td>
                    <td>
                       <router-link :to="`/category/${category.id}`"><i class="far fa-edit fa-2x green"></i></router-link>
                        <a href="" @click.prevent="deleteCategory(category.id)"><i class="fas fa-trash-alt fa-2x	red"></i></a>
                    </td>
                  </tr>
                 
                </table>
              </div>
                <!-- /.card-body -->
            </div>
              <!-- /.card -->
          </div>
        </div><!-- /.row -->
        </span>
    </div>
</template>


<script>
export default {
  name: "category-list",
  mounted() {
    this.$store.dispatch("categories");
  },

  computed: {
    categories() {
      return this.$store.getters.categories;
    }
  },
  methods: {
    deleteCategory(id) {
      axios.get("category/delete/" + id).then(response => {
        this.$store.dispatch("categories");
        toast({
          type: "success",
          title: "Category Deleted successfully"
        });
      });
    }
  }
};
</script>

<style>
</style>
