<template>
    <div>
       <span>
          <div class="row d-flex justify-content-center mt-5">
              <div class="col-md-8">
                   <div class="card card-primary">
               <div class="card-header">
                    <div class="card-title">Add Category</div>
               </div>
               <form role="form" @submit.prevent="addCategory()" >
                <div class="card-body">
                  <div class="form-group">
                    <label for="category_cat_name">Category Name</label>
                    <input type="text" v-model="form.cat_name" cat_name="cat_name" class="form-control" :class="{ 'is-invalid': form.errors.has('cat_name') }" id="category_cat_name" placeholder="Enter Category Name">
                       <has-error :form="form" field="cat_name"></has-error>
                  </div>
                </div>
                   <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <router-link to="/category"  class="btn btn-warning">Cancel</router-link>
                </div>
              </form>
           </div>
              </div>
          </div>
       </span>
    </div>
</template>

<script>
export default {
  name:'new-category',
  data() {
    return {
      form: new Form({
        cat_name: ""
      })
    };
  },
  methods: {
    addCategory() {
      this.form.post("new").then(response => {
        this.$router.push("/category");
        toast({
          type: "success",
          title: "Category Added successfully"
        });
      });
    }
  }
};
</script>

<style>
</style>
