<template>
    <div>
       <span>
          <div class="row d-flex justify-content-center mt-5">
              <div class="col-md-8">
                   <div class="card card-primary">
               <div class="card-header">
                    <div class="card-title">Edit Category</div>
               </div>
               <form role="form"  @submit.prevent="updateCategory()">
                <div class="card-body">
                  <div class="form-group">
                    <label for="category_cat_name">Category Name</label>
                    <input type="text" v-model="form.cat_name" cat_name="cat_name" class="form-control" :class="{ 'is-invalid': form.errors.has('cat_name') }" id="category_cat_name" placeholder="Enter Category Name">
                       <has-error :form="form" field="cat_name"></has-error>
                  </div>
                </div>
                   <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit"  class="btn btn-primary">Update</button>
                </div>
              </form>
           </div>
              </div>
          </div>
       </span>
    </div>
</template>

<script>
export default {
  name: "view-cat",
  data() {
    return {
      form: new Form({
        id: "",
        cat_name: ""
      })
    };
  },
  created() {
    axios.get(`category/${this.$route.params.id}`).then(response => {
      this.form.fill(response.data.category);
    });
  },

  methods: {
    updateCategory() {
      this.form.post(`update/${this.$route.params.id}`).then(() => {
        this.$router.push("/category");
        toast({
          type: "success",
          title: "Category Updated successfully"
        });
      });
    }
  }
};
</script>

<style>
</style>
