<template>
   <span>
       <div class="home prlx_parent">
		<!-- Parallax Background -->
		<div class="home_background prlx" :style="mainBackground()" ></div>
		<!-- <div class="services_page_shapes" style="background-image:url(images/services_page_shapes.png)"></div> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home_content">
						<h1>Blog</h1>
						<span>read the news</span>
					</div>
				</div>
			</div>
		</div>
       </div>
	<div class="home_social_container d-flex flex-row justify-content-end align-items-center">
		<ul class="home_social">
			<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
		</ul>
	</div>	

	<!-- Blog Content -->

	<div class="blog_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog_main_content" >
						<!-- Blog Post -->
						<article class="blog_post"  v-for="blog in blogpost" :key="blog.id">
							<div class="blog_post_image">
								<div class="blog_post_image_background" :style="postImage(blog.photo)"></div>
							</div>
							<div class="date_box d-flex flex-column align-items-center justify-content-center">
								<span>{{blog.created_at | postformat}}</span>
							</div>
							<h3 class="blog_post_title"><router-link :to="`/blog/${blog.id}`">{{blog.title}}</router-link></h3>
							<div class="blog_post_meta">
								<span v-if="blog.user" class="blog_post_author">by {{blog.user.name}}</span>
								<span v-if="blog.category" class="blog_post_category">{{blog.category.cat_name}}</span>
								<!-- <span class="blog_post_comments">2 comments</span> -->
							</div>
							<div class="blog_post_text">
								<p>{{blog.description | truncate(200,'......')}}</p>
							</div>
							<router-link  :to="`/blog/${blog.id}`" class="blog_post_link">read more
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
								<polygon id="arrow_poly_1" class="arrow_poly" fill="#FF4200" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 "/>
								</svg>
							</router-link>
						</article>

					</div>

					<div class="blog_nav">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
						</ul>
					</div>
				</div>
				
				<!-- Sidebar -->
				<blogSidebar/>

			</div>
		</div>
	</div>
   </span>
</template>

<script>
import blogSidebar from "./BlogSidebar.vue";

export default {
  name: "blog",
  data() {
    return {
      id: false
    };
  },
  components: {
    blogSidebar
  },

  mounted() {
    this.$store.dispatch("blogCategories");
    if (this.$route.params.catid != null) {
      this.postCategoryById();
    } else {
      this.$store.dispatch("allBlogPost");
    }
  },
  computed: {
    blogpost() {
      return this.$store.getters.blogposts;
    },
    allcategories() {
      return this.$store.getters.blogcategories;
    }
  },
  watch: {
    $route(to, from) {
      this.postCategoryById();
    }
  },
  methods: {
    postImage(photo) {
      var bgImg = photo;
      return {
        // background: "url(" + bgImg + ")"
        background: `url('/uploadimage/${bgImg}')`
      };
    },
    mainBackground() {
      var bgImg = "blog_background.jpg";
      return {
        background: `url('/uploadimage/${bgImg}')`
      };
    },
    postCategoryById() {
      this.$store.dispatch("categoryBlogPost", this.$route.params.catid);
    }
  }
};
</script>

<style>
</style>
