<template>
        <div class="col-lg-4">
					<div class="blog_sidebar">
						
						<!-- Search -->
						<div class="sidebar_section">
							<div class="sidebar_search">
								<form action="post" >
									<div id="search_form" class="search_form">
										<input id="blog_search" type="search"  @keyup="searchit" v-model="keyword" placeholder="enter keywords" required="required" data-error="Valid keywords required.">
										<button @click.prevent="searchit" id="search_submit" type="submit" class="search_submit_btn trans_300" value="Submit">
											<img :src="`/uploadimage/search.png`" alt="">
										</button>
									</div>
								</form>
							</div>
						</div>
						
						<!-- Recent Posts -->
						<div class="sidebar_section">
							<div class="sidebar_recent">
								<div class="sidebar_title">recent posts</div>

								<!-- Recent Post -->
								<div class="recent_post d-flex flex-row justify-content-start" v-for="(blog,index) in blogpost" :key="blog.id"  v-if="index<5">
									
                                        <div class="recent_post_image">
										<router-link :to="`/blog/${blog.id}`"><img :src="`/uploadimage/${blog.photo}`" alt="" width="60" height="60"></router-link>
									</div>
									<div class="recent_post_content">
										<h4 class="recent_post_title"><router-link :to="`/blog/${blog.id}`">{{blog.title}}</router-link></h4>
										<span class="recent_post_date">{{blog.created_at | postformat}}</span>
									</div>
                                    
								</div>
							</div>
						</div>

						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_categories">
								<div class="sidebar_title">categories</div>
								<ul>
									<li v-for="category in allcategories" :key="category.id"><router-link :to="`/categorypost/${category.id}`">{{category.cat_name}}</router-link></li>
								</ul>

							</div>
						</div>

					</div>
				</div>
</template>

<script>
import _ from "lodash";
export default {
  name: "blog-sidebar",
  data() {
    return {
      keyword: ""
    };
  },
  mounted() {
    this.$store.dispatch("blogCategories");
    this.$store.dispatch("allBlogPost");
  },
  computed: {
    blogpost() {
      return this.$store.getters.blogposts;
    },
    allcategories() {
      return this.$store.getters.blogcategories;
    }
  },
  methods: {
    searchit: _.debounce(function() {
      this.$store.dispatch("blogSearchPost", this.keyword);
    }, 1000)
  }
};
</script>

<style>
</style>
