<template>
     <span>
         <!-- Page Top -->

	<div class="home prlx_parent">

		<!-- Parallax Background -->
		<div class="home_background prlx" :style="mainBackground()"></div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home_content">
						<h1>Blog Single </h1>
						<span>read the news</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home_social_container d-flex flex-row justify-content-end align-items-center">
		<ul class="home_social">
			<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
		</ul>
	</div>	

	<!-- Blog Content -->

	<div class="blog_content">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog_main_content">
						<!-- Blog Post -->
						<article class="blog_post">
							<div class="blog_post_image">
								<div class="blog_post_image_background" :style="postImage(post.photo)"></div>
							
							</div>
							<div class="date_box d-flex flex-column align-items-center justify-content-center">
								<span>{{post.created_at | postformat}}</span>
							</div>
              
							<h3 class="blog_post_title">{{post.title}}</h3>
							<div class="blog_post_meta">
								<span v-if="post.user" class="blog_post_author">by {{post.user.name}}</span>
								<span v-if="post.category" class="blog_post_category">{{post.category.cat_name}}</span>
								<!-- <span class="blog_post_comments">2 comments</span> -->
							</div>
							<div class="blog_post_text">
								<p>{{post.description}}</p>
							</div>

							
						</article>

					</div>
				</div>
				
				<!-- Sidebar -->
				<blogSidebar/>

			</div>
		</div>
	</div>

     </span>
</template>

<script>
import blogSidebar from "./BlogSidebar.vue";
export default {
  name: "single-blog",
  data() {
    return {
      loading: false
    };
  },
  components: {
    blogSidebar
  },
  mounted() {
    this.singlePostById();
  },
  watch: {
    $route(to, from) {
      this.singlePostById();
    }
  },
  computed: {
    post() {
      return this.$store.getters.singlepost;
    }
  },
  methods: {
    mainBackground() {
      var bgImg = "blog_background.jpg";
      return {
        background: `url('/uploadimage/${bgImg}')`
      };
    },
    postImage(photo) {
      var bgImg = photo;
      return {
        background: `url('/uploadimage/${bgImg}')`
      };
    },
    singlePostById() {
      this.$store.dispatch("singlePost", this.$route.params.id);
    }
  }
};
</script>

<style>
</style>
