<template>
   <div class="features">
            <div class="container">
                <div class="row align-items-end">
                    <div class="features_col">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestias odio magni doloremque,
                            id numquam excepturi facilis in minus rem neque repellendus veritatis eos labore corrupti illum
                            voluptatum architecto. Ipsam.</h2>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
  name: "main-home"
};
</script>

<style>
</style>
